<h1> Détails du timeline "{{timeline.name}}" </h1>

<form #userForm="ngForm" (ngSubmit)="onTrySubmit(userForm)">
  <div class="try">
    <label>Nom de la timeline </label>
    <input type="text"
           [(ngModel)]="timeline.name"
           name="name"
           id="name"
           class="form-control">
    <label>Nom de la timeline </label>
    <input type="date"

           ngModel
           name="name"
           id="date"
           class="form-control">
    <button class = "SaveTimeline" > Sauver la timeline </button>

  </div>
</form>
<section>
  <h3> Edition d'une carte </h3>
  </section>
<section>
  <h3> Liste des cartes </h3>
  <thead>
  <tr>
    <th>Id</th>
    <th>Nom</th>

    <th>Date</th>
    <th>URL d'image</th>
    <th>Description</th>
    <th>Editer?</th>
    <th>Supprimer</th>
  </tr>

  <tr *ngFor="let Card of cardsToPlay ">
    <td>{{Card.id}}</td>
    <td>{{Card.name}}</td>
    <td>{{Card.date}}</td>
    <td><img src="{{Card.imageUrl}}"></td>
    <td>{{Card.description}}</td>
    <td><a [title]="Card.name + ' Editer'"[routerLink]="['/cardEdit', Card.id]">
      {{ Card.name }}
    </a></td>
    <td><button (click) = "deleteCardOnClick(Card.id)">
    Supprimer!
  </button></td>
  </tr>
  </thead>
</section>
